
{% extends "base.html"%}
{% block nav_item_about %}active{% endblock nav_item_about %} 
{% load staticfiles %}
{% block body_block%}
    <br><br> <br>
    <br><br> <br>

    <h4>About Me</h4>
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <ul>
       <li>Experienced Technical Consultant with strong design, development, testing and implementation skills. </li> 
       <li>  Result oriented and self-motivated with extensive knowledge in Retail and Manufacturing domains. </li> 
       <li>  Ability to understand business needs and requirements clearly. Bringing forth a motivated attitude, strong analytical, logical, problem-solving and programming skills, lead a team and work in a globally distributed team.</li> 
        </ul>
        </div>
                
    </div>
            
        

{% endblock %}