
{% extends "base.html"%}
{% block nav_item_exp %}active{% endblock nav_item_exp %} 
{% load staticfiles %}
{% block body_block%}
    <br><br> <br>
    <br><br> <br>


<div class="card text-center">
      <div class="card-header">
       <h5>LEAD TECHNICAL CONSULTANT</h5> 
    </div>
    <div class="card-body">
      <h5 class="card-title">Infosys Technologies, US & India </h5>
      <ul>
        <li class="card-text">Responsible for managing development team and Ensures deliverables are properly estimated, planned and delivered</li>
        <li class="card-text">Ensure project milestones are met by getting actively engaged and facilitating resolution of issues, reporting on status of development team deliverables to stakeholders.</li>
        <li class="card-text">Ensure the development team follows all quality assurance processes, including periodic reviews.</li>
      </ul>
      
    </div>
    <div class="card-footer text-muted">
      Aug 2008 - Dec 2014
    </div>
  </div>
  <br>
  <div class="card text-center">
    <div class="card-header">
     <h5>ASSITANT SYSTEMS ENGINEER</h5> 
  </div>
  <div class="card-body">
    <h5 class="card-title">TCS, India </h5>
    <ul>
      <li class="card-text">Responsible for development of Monitoring system Dashboard</li>
      <li class="card-text">Documenting requirements analysis</li>
      <li class="card-text">Involved in coding, adhering coding standards and methodologies</li>
      <li class="card-text">Involved in unit testing and bug fixing</li>
    </ul>
    
  </div>
  <div class="card-footer text-muted">
    Jun 2006 - Jun 2008
  </div>
</div>
<br>
<div class="card text-center">
  <div class="card-header">
   <h5>GRADUATE ENGINEERING TRAINEE</h5> 
</div>
<div class="card-body">
  <h5 class="card-title">Delphi TVS Diesel Systems Ltd, India </h5>
  <ul>
    <li class="card-text">Responsible for development of Warranty Claim System</li>
    <li class="card-text">Actively participated in all phases of the SDLC </li>
 </ul>
  
</div>
<div class="card-footer text-muted">
  Apr 2005 - Jun 2006
</div>
</div>

  {% endblock %}