<!DOCTYPE html>
{% extends "base.html"%}
{% block nav_item_skill %}active{% endblock nav_item_skill %} 
{% load staticfiles %}
{% block body_block%}
    <br><br> <br><br>
   
<div class="row">
    <div class="col-4">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Language/Framework</div>
            <div class="card-body text-primary">
              <ul>
                <li class="card-text">Python </li>
              <li class="card-text">HTML5, CSS, Javascript, Jquery </li>
              <li class="card-text">Django, Flask, API </li>
              <li class="card-text">C, PL/SQL </li>
              <li class="card-text">Visual Basic, Excel Macros(VBA) </li>  
            </ul>
            </div>
          </div>         
  
    </div>
    <div class="col-4">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Database</div>
            <div class="card-body text-primary">
              <ul>
                <li class="card-text">MongoDB </li>
                <li class="card-text">Oracle-SQL</li>
                <li class="card-text">MS-SQL Server</li>
                <li class="card-text">MS Access</li> 
            </ul>
            </div>
          </div>         
  
    </div>
    <div class="col-4">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Scripts</div>
            <div class="card-body text-primary">
              <ul>
              <li class="card-text">PERL 
              </li>
            </ul>
            </div>
          </div>         
  
    </div>
</div>    
<div class="row">
    <div class="col-4">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Special Software/Tools: </div>
            <div class="card-body text-primary">
              <ul>
                <li class="card-text">Oracle Retail Application-RETEK (RMS, RIB, RPM, ReSA)</li>
                <li class="card-text">Service Manager</li>
                <li class="card-text">TFS</li>
              </ul>
            </div>
          </div>         
  
    </div>
    <div class="col-4">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Version Control</div>
            <div class="card-body text-primary">
              <ul>
              <li class="card-text">GitHub 
              </li>
            </ul>
            </div>
          </div>         
  
    </div>
    <div class="col-4">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Other</div>
            <div class="card-body text-primary">
              <ul>
              <li class="card-text">UI/UX, Agile - Scrum, Cloud technologies 
              </li>
            </ul>
            </div>
          </div>         
  
    </div>
</div>        

{% endblock %}